.jumbotron {
    background-image: linear-gradient(to right, blueviolet, blue, cyan, lime);
    text-align: center;
    color : black;
}

.jumbotron p {
    font-size: 16px;
}   

::-moz-selection {
    background: blue;
    color : cyan; 
}

::selection {
    background: blue;
    color : cyan; 
}