.jumbotron {
    background-image: linear-gradient(to right, blueviolet, blue, cyan, lime);
    text-align: center;
    color : black;
}

.jumbotron p {
    font-size: 16px;
}   

::-moz-selection {
    background: blue;
    color : cyan; 
}

::selection {
    background: blue;
    color : cyan; 
}

body::-webkit-scrollbar {
    background-color: cyan;
}
/*Bootstrap carousel styling*/
#customerReviewsCarousel {
    background-color: black;
    color : whitesmoke;
    font-size: 16px;
}
#customerReviewsCarousel h1 {
    background-color: inherit;
    color : inherit;
    font-size: 50px;
}
