<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="Discord Bot">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="github:" content="https://github.com/NightZan999/TheImperialGod">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="styleshet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <meta charset="utf-8">
    <style>
    .jumbotron {
        text-align: center;
        background-image : linear-gradient(to right, rgb(5, 245, 49), rgb(5, 245, 221), rgb(5, 21, 245));
    }
    ::-moz-selection { /* Code for Firefox */
        color: red;
        background: yellow;
    }

    ::selection {
        color: red;
        background: yellow;
    }
    #text {text-align: center;}

        .dropdown-menu a {
            background-color: black;
            color : white;
            font-size : 16px;
            width : inherit;
            height: inherit;
        }
        .dropdown-menu a:hover {
            background-color: blue;
            color : white;
        }
        .dropdown-menu {background-color: black}
        ::-moz-selection { /* Code for Firefox */
            color: red;
            background: yellow;
        }

        ::selection {
            color: red;
            background: yellow;
        }

        p {
            font-size : 18px;
        }
        li {
            font-size : 18px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">TheImperialGod</a>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company">Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support">Support</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Bot Features
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#mod">Moderation</a>
                    <a class="dropdown-item" href="#utils">Utilities</a>
                    <a class="dropdown-item" href = "#gaws">Giveaways</a>
                    <a class="dropdown-item" href="#economy">Economy</a>
                    <a class="dropdown-item" href="#misc">Miscelleanous</a>
                    <a class="dropdown-item" href = "#math">Math</a>
                    <a class="dropdown-item" href = "#fun">Fun</a>
                    <a class="dropdown-item" href = "#info">Information</a>
                    <a class="dropdown-item" href = "#admin">Admin / Owner</a>
                </div>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    New Features
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href ="#warn">Warn Points System</a>
                    <a class="dropdown-item" href="#tick">Tickets System</a>
                    <a class="dropdown-item" href = "#rr">Reaction Roles</a>
                    <a class="dropdown-item" href="#m">Music</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.com/oauth2/authorize?client_id=768695035092271124&scope=bot&permissions=21474836398">Invite Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/NightZan999/TheImperialGod">Github Repository</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://top.gg/bot/768695035092271124">Top.gg</a>
            </li>
        </ul>
    </nav>
  </body>
</html>
