<%- include("partials/header.ejs") -%>
<style>
  body {
      position: relative;
      background-color: yellow;
      text-align : left;
  }
  .jumbotron {
      text-align: center;
      background-image : linear-gradient(to right, rgb(5, 245, 49), rgb(5, 245, 221), rgb(5, 21, 245));
  }
  ::-moz-selection { /* Code for Firefox */
      color: red;
      background: yellow;
  }

  ::selection {
      color: red;
      background: yellow;
  }
  #text {text-align: center;}
  p {
      font-size : 18px;
      text-align: left;
  }
  li {
      font-size : 18px;
  }

  .dropdown-menu a {
      background-color: black;
      color : white;
      font-size : 16px;
      width : inherit;
      height: inherit;
  }
  .dropdown-menu a:hover {
      background-color: blue;
      color : white;
  }
  .dropdown-menu {background-color: black}
</style>
<div class="jumbotron">
  <h1>TheImperialGod</h1>
  <p id = "text">The facts and creation of TheImperialGod</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2>Creator:</h2>
        <p>Created by NightZan999#0194, and some others (check out the github repository!)
          <br> <br>
          I (NightZan999#0194) have spent about 2 months making the entire bot.
          And inviting it to your server, even if its a small server would help out TheImperialGod.
          <br> <br>
          
        </p>
    </div>
  </div>
</div>
