<%- include("partials/header.ejs") -%>
<style>
  body {
      position: relative;
      background-color: yellow;
      text-align : left;
  }
  .jumbotron {
      text-align: center;
      background-image : linear-gradient(to right, rgb(5, 245, 49), rgb(5, 245, 221), rgb(5, 21, 245));
  }
  ::-moz-selection { /* Code for Firefox */
      color: red;
      background: yellow;
  }

  ::selection {
      color: red;
      background: yellow;
  }
  #text {text-align: center;}
  p {
      font-size : 18px;
      text-align: left;
  }
  li {
      font-size : 18px;
  }

  .dropdown-menu a {
      background-color: black;
      color : white;
      font-size : 16px;
      width : inherit;
      height: inherit;
  }
  .dropdown-menu a:hover {
      background-color: blue;
      color : white;
  }
  .dropdown-menu {background-color: black}
  .status {
    background-color : orange;
    color : black;
  }
  .status ul li {
    font-size : 20px;
    font-emphasis : none;display : inherit;
    text-align : center;
  }
  .status p {
    font-size : 20px;
    font-emphasis : none;
    display : inherit;
    text-align : center;
  }
  .status h1 {
    text-align : center;
    font-emphasis : none;
    display : inherit;
  }
</style>
<div class="jumbotron">
  <h1>TheImperialGod</h1>
  <p id = "text">The facts and creation of TheImperialGod</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h2>Creator:</h2>
        <p>Created by NightZan999#0194, and some others (check out the github repository!)
          <br> <br>
          I (NightZan999#0194) have spent about 2 months making the entire bot.
          And inviting it to your server, even if its a small server would help out TheImperialGod.
          <br> <br>
          I started coding TheImperialGod on 26th September, 2020. <br>
          And the first prototype went live on 1st October, 2020 <br> <br>
        </p>
    </div>
    <div class="col-md-6">
      <h2>Information about TheImperialGod</h2>
      <p>TheImperialGod is an awesome discord bot, who has over 1500 users!
        <br> <br> It is on top.gg, click <a href="https://top.gg/bot/768695035092271124">here</a> for more information
        about it being on top.gg!
        <br> <br>
        I host TheImperialGod on <b>Chaotic Destiny Hosting </b>, they
        keep TheImperialGod online the entire day!
        <br> <br>
        TheImperialGod has a multitude of customizable features
        and settings with <b>over 80 commands!</b> <br> <br>
        The website (the one your seeing now) is coded in
        NodeJS and JavaScript. Thanks to all the contributors
        who helped with the website (check github repository, to see who helped!).
        <br> I did code the <b>entire frontend and colors of the website myself!</b>
        <br> <br> <br>
        The main bot however is made in <a href="https://github.com/Rapptz/discord.py"> discord.py</a> or discord for python,
        even though I know <a href="https://github.com/discordjs/discord.js">discord.js </a>and a bit of <a href = "https://github.com/DV8FromTheWorld/JDA">JDA </a>
      </p>
    </div>
  </div>
</div>
<div class="status">
  <h1>Bot Status?</h1>
  <p>TheImperialGod as a bot is almost over.
  This is becuase the biggest problem that the
  staff team gets is that. The bot is offline,
  so we can't update the bot without the bot losing out
  on servers and stuff. <br> <br>
  Now the bot already contains many features
  no other bot contains. <br> <br>
  For example, which bot has:
  </p>
  <br>
  <ul>
    <li>Moderation</li>
    <li>Utilties</li>
    <li>Customizable features such as automod!</li>
    <li>Tickets</li>
    <li>And Giveaways?</li>
  </ul>
  <br> <br>
  <p>I'm sure none of you would have heard of one
  bot who can do all that. So be sure to invite the bot
  to your servers and tell all your friends about it too!
  </p>
</div>
