<%- include("partials/header.ejs") -%>
<style>
  body {
      position: relative;
      background-color: yellow;
      text-align : left;
  }
  .jumbotron {
      text-align: center;
      background-image : linear-gradient(to right, rgb(5, 245, 49), rgb(5, 245, 221), rgb(5, 21, 245));
  }

  ::-moz-selection { /* Code for Firefox */
      color: red;
      background: yellow;
  }

  ::selection {
      color: red;
      background: yellow;
  }
  #text {text-align: center;}
  p {
      font-size : 18px;
      text-align: left;
  }
  li {
      font-size : 18px;
  }

  .dropdown-menu a {
      background-color: black;
      color : white;
      font-size : 16px;
      width : inherit;
      height: inherit;
  }
  .dropdown-menu a:hover {
      background-color: blue;
      color : white;
  }
  .dropdown-menu {background-color: black}
</style>
<div class="jumbotron">
<h1>Support TheImperialGod!</h1>
<p id = "text">Without your support, the bot would be a bot with no servers!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>1. Top.gg</h2>
      <p>Top.gg or DiscordBotList, is the biggest bot and
        server listing site. Most of TheImperialGod's
        servers come from there and thus doing things here will make
        the most impact!
      </p>
      <br> <br>
      <ul>
        <li>You can vote <a href="https://top.gg/bot/768695035092271124/vote">here</a> </li> <br>
        <li>You can check out the main bot page <a href="https://top.gg/bot/768695035092271124/"> here</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>2. Self Support</h2>
      <p>You yourself can do a lot to help out the bot. For instance
        you can add the bot to your server and make sure
        he just stays their and your getting him to help your server!
        <br> <br>
        Whether your server is big or small please invite TheImperialGod
        to your server if you like the bot. <br> <br>
        Because then it will help it reach more people because of the server count!
        <br>
        Additionaly you can also tell your friends about the bot and
        that's how it can grow. By showing off its features to your friends
        you are helping the bot get more features.
        <br> <br>
        This is because, if I know more people are adding my bot to
        their servers I would get motivated to add more features and
        keep the bot alive!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>3. Recommendations and popularity</h2>
      <p>Lets say you've got a 100 member server. <br> <br>
        If you want to support the bot, you can ping everyone in an
        announcement, saying you are going to show them the bot. <br> <br>
        Most people will invite the bot and that makes it much better.

        <br> <br> You can also recommend it to people so that it grows!
      </p>
    </div>
    <div class="col-md-6">
      <h2>🎉 Done!</h2>
      <p>If you did or tried to do any of the ways above. You can consider
      yourself awesome, and I will thank you a lot! <br> <br>
      Now your an official supporter of the bot!
    </p>
    </div>
  </div>
</div>
